# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea/


# front
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/reactjs/node_modules
/reactjs/.pnp
.pnp.js

# testing
/reactjs/coverage

# production
/reactjs/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

data/server.properties
